<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNqr9ZSZxZsYFt5g8ZviNZ2BTJHxwieys</string>
	<key>GCM_SENDER_ID</key>
	<string>431657051038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.austinanglin.fiu.edu.NexaNews</string>
	<key>PROJECT_ID</key>
	<string>newsapp-cbb3c</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-cbb3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431657051038:ios:770551c75caa71a9106c8f</string>
</dict>
</plist>